<mat-card class="tarif-card">
    <mat-card-content fxLayout="row">
        <div fxFlexAlign="center">
            {{index + 1}}
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxLayout="row" fxFill>
            <div fxFlex="1 1 auto">
                <h3>{{tarif.name}}</h3>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="3 1 auto">
                <p fxHide fxShow.gt-sm>Download</p>
                <div><i class="material-icons">arrow_downward</i> {{downloadSpeed}} Mbit/s</div>
                <p fxHide fxShow.gt-sm>Upload</p>
                <div fxHide fxShow.gt-xs><i class="material-icons">arrow_upward</i> {{uploadSpeed}} Mbit/s</div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="3 1 auto" fxHide fxShow.gt-sm>
                <p *ngFor="let tarifItem of restParameters">
                    - {{tarifItem.value}}
                </p>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="1 1 auto" fxLayout="row" fxLayout.gt-xs="column" fxLayoutAlign="center end">
                <p class="price">{{price | currency: 'EUR'}}</p>
                <button class="to-tarif-button" mat-button color="primary">
                    <span fxHide fxShow.gt-xs>To tarif</span><i class="material-icons">chevron_right</i>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>