<div fxLayout="column">
    <mat-form-field class="sort" fxFlexAlign="center">
        <mat-label>Sort</mat-label>
        <mat-select (selectionChange)="sortChanged($event.value)">
            <mat-option *ngFor="let sort of sortTypes" [value]="sort">
                {{sort.key}} {{sort.direction == SortDirection.Asc ? "acs" : "desc"}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <app-tarif-item *ngFor="let tarif of tarifs; let i = index" [tarif]="tarif" [index]="i">
    </app-tarif-item>
</div>